@import "tailwindcss";

@font-face {
  font-family: "font";
  src: url("/src/assets/fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  --font-display: 'font', 'Poppins', sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  background: linear-gradient(to bottom, #ffffff, #39cf46);
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
} */

/* #app {
  max-width: 1280px;
  margin: 0;
  text-align: center;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    background-color: var(linear-gradient(to right, #ffffff, #39cf46));
    color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
